<style>
    .hide {
        visibility: none;
    }
</style>

 {{#unless flag}}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content myArticle">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Scrape Complete</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {

            $("#myModal").modal('toggle');

       
    });
</script> 
{{#each results }}
<div class="myArticle">
    <form action="/save/{{this.count}}" method="post">
        <h4>Title : {{this.title}}</h4>
        <h4>Link : {{this.link}}</h4>
        <p>
            <button id="eat" type="submit"> save </button>
        </p>

    </form>
</div>
 {{/each}}
{{/unless}}



{{#if flag}}{{#each results }} 
<div class="myArticle">
    <form action="/save/{{this.count}}" method="post">
        <h4>Title : {{this.title}}</h4>
        <h4>Link : {{this.link}}</h4>
        <p>
            <button id="eat" type="submit"> save </button>
        </p>

    </form>
</div>
{{/each}}{{/if}} 